/* css styles */
body,h1,h2,h3,h4,h5,h6 {font-family: "Open Sans", sans-serif;}

.observablehq table {
    font-family: "Open Sans", sans-serif;
    font-size: 0.79em !important;
  }

.observablehq {
    display: flex; 
    justify-content: center;
    padding-top: 1rem;
}
.citation {
    display: flex; 
    justify-content: center;
}